*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* navbar */
#root{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  background-color: #1111;
}
.navbar a{
  text-decoration: none;
  padding: 20px;
  text-transform: capitalize;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
  color:black;
}

.navbar a:hover{
  transform: scale(1.05);
}

.navbar a:nth-child(1){
  margin-right: auto;
}

.navbar .bars{
  visibility: hidden;
}

.routes{
  min-height: 100vh;
}

.home-main .home{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:10%;
}
.home-main .home .link{
  border:2px solid black;
  text-decoration: none;
  color:black;
  width:300px;
  margin:1%;
  box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.home-main .home .link img{
  width:100%;
  height:300px;
}

.home-main .home .link p{
  width:250px;
}

.home-main .home .link p strong{
  color: green;
  font-size: 1.5rem;
}

.home-main .features{
  width:600px;
}
.home-main .features h2{
  color:rgb(255, 1, 1);
}
.home-main .features p{
  color:rgb(87, 80, 80);
  font-size: 1.15rem;
}
.routes .details{
  display: flex;
  align-items:center;
  justify-content: center;
}

.routes .details div>h2{
  font-size: 2rem;
}
.routes .details .dish img{
  height: 400px;
}

.routes .details .more-details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
}
.routes .details .more-details .num{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.routes .details .more-details .num p{
  font-size: 2rem;
  margin: 50px;
}
.routes .details .more-details .num .icon{
  border:0.2px solid black;
}

.routes .details .dish{
  border:1px solid black;
  box-shadow: 5px 5px 10px black, -5px -5px 10px black;
}

.routes .details .dish p{
  font-size: 2rem;
  text-transform: capitalize;
}
/* navbar */

/* media query for mobile */
@media only screen and (max-width: 700px) {
  #root{
    min-width:400px;
  }
  .navbar{
    visibility:hidden;
    position: relative;
    background-color: #1111;
    min-width: 400px;
  }
  .grey{
    background-color: #1111;
  }
  .navbar .bars{
    visibility: visible;
    opacity: 1;
  }
  .small{
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .bars{
    position: absolute;
    top:0;
    right:0;
  }
  .routes{
    margin-top:10px;
  }

  .home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }

  .home-main .features{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width:350px;
    gap:10px;
  }

  .home-main .home{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .home-main .home .link{
    border:2px solid black;
    text-decoration: none;
    color:black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    width: 400px;
  }
  
  .home-main .home .link a img{
    width:100%;
  }

  .home-main .home .link p{
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .routes .details{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 10px;
  }
  .routes .details .dish{
    border:1px solid black;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;

  }

  .routes .details .dish img{
    width: 250px;
    height: 250px;
  }

  .routes .details .dish p{
    font-size: 20px;
  }
  
  .routes .details .more-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
  }
  .routes .details .more-details .num{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .routes .details .more-details .num p{
    font-size: 2.5rem;
    margin: 5px;
  }
  .routes .details .more-details >div h2{
    font-size: 1.5rem;
  }

}

/* media query for mobile */
